.button {
   position: relative;
   display: inline-block;
   border: 1px solid transparent;
   border-radius: var(--radius-value);
   padding: 9px 30px;
   text-align: center;
   color: var(--color-white);
   background: var(--orange-gradient);
   transition: background 0.2s ease-out;

   &:hover {
      &::before {
         position: absolute;
         left: 0;
         top: 0;
         display: inline-block;
         width: 100%;
         height: 100%;
         background: var(--orange-gradient);
      }
   }

   &--without-filling {
      border: 1px solid currentColor;
      color: var(--color-primary);
      background: transparent;

      &:hover {
         background-color: var(--color-primary);
      }
   }

   &--transparency {
      $color-primary: #fb9600;

      background: none;
      background-color: rgba($color-primary, 0.65);
   }
}

.burger {
   --burger-width: 20px;
   --burger-height: 14px;
   --burger-color: var(--color-black);

   margin-left: 20px;

   @include burger;
}
