.input {
   border: 1px solid #d2d2d2;
   padding: 14px;
   font-size: $font-xx-small;
   line-height: 125%;
   color: var(--color-black);
   transition: border-color 0.1s ease-in-out;

   &::placeholder {
      font-size: inherit;
      color: #d2d2d2;
      transition: color 0.1s ease-in-out;
   }

   &:valid {
      border: 1px solid var(--color-green);
   }

   &.focus-visible {
      border: 1px solid #bcbcbc;

      &::placeholder {
         color: var(--color-black);
      }
   }
}
