.best {
   &__inner {
      overflow: hidden;
      margin: 0 auto;
      max-width: 1440px;
   }

   &__title {
      text-align: center;

      @include responsive(margin-bottom, $offset-xx-middle, $offset-small, 1440px, 320px);
   }

   &__slider {
      display: flex;
      flex-wrap: wrap;
      padding-top: 140px;
      width: 100%;
      height: 100%;
      max-width: 1920px;
   }

   &__slider-wrapper {
      display: flex;
      align-items: flex-end;
      justify-content: center;
   }

   &__slide {
      margin: 0 auto;
      padding: 15px;
      transition: transform 0.4s ease-out;

      .good {
         max-width: 100%;

         @include responsive(min-height, 588px, 480px, 1440px, 576px);
      }

      &--active {
         transform: translateY(-140px);
      }
   }

   &__slider-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: $offset-x-small;

      &-bullet {
         display: flex;
         flex: 0 1 15px;
         align-items: center;
         justify-content: center;
         border-radius: 100%;
         width: 15px;
         height: 15px;
         background-color: #bfc5d1;

         &:not(:last-of-type) {
            margin-right: 15px;
         }

         &::before {
            content: "";
            display: inline-block;
            border-radius: 100%;
            width: 100%;
            height: 100%;
            background-color: var(--color-primary);
            transform: scale(0);
            transition: transform 0.15s ease-out;
         }

         &--active::before {
            transform: scale(1);
         }
      }
   }

   @media (max-width: 480px) {
      &__slider {
         padding-top: 0;
      }

      &__slide--active {
         transform: translateY(0);
      }

      &__slide .good {
         min-height: initial;
      }
   }
}
